
	<div class="container-fluid">
	<div class="row">

	<div class="col-md-3 left">
	</div>

	<div class="col-md-6 center">
	<img src="burger.jpg">
	<h3>Eat-Da-Burger!</h3>
	<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Burger</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search your burger">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
	</form>

	</div>

	<div class="col-md-3 right">
	</div>

	</div>
	</div>


